body{
	background-color: #E99497;
	text-align: center;
	font-family: 'Alegreya', serif;
}
.white{
	height:400px;
	width: 100px;
	background-color: white;
	border:1px solid black;
	margin-left: -10px;
}
.black{
	width: 60px;
	height:220px;
	background-color: black;
	border:1px solid black;
	position: relative;
	margin-left: -30px;
	margin-right: -30px;
	position: absolute;
	padding-top: 100px;
}
.piano{
	margin-top: 20%;

}
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
h1{
	text-align: center;
	font-size: 4rem;
}
.btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: 'Alegreya', serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: #CD113B;
  padding: 10px 20px 10px 20px;
  border: solid gold 2px;
  text-decoration: none;
  margin-right: 20px;
}
.btn:hover {
  background: #201eb8;
  text-decoration: none;
}